.headbox{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #f0f0f0;
}
.topbox{
    max-width: 1440px;
    min-width: 768px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}

.logo{
    width: 100px;
    height: 56px;
    display: block;
    background: url('../../images/logo.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.nav{
    width: 960px;
    height: 56px;
    margin: 0 auto;
}
.nav .g_style{
    line-height: 56px;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
}
.nav .active{
    color: #ea6f5a !important;
}
.nav .fl{
    float: left;
    color: #333;
    font-size: 17px;
}
.nav .fr{
    float:right;
    color: #969696;
}
.input_box{
    width: 240px;
    height: 38px;
    float: left;
    position: relative;
    transition: all 0.3s;
}
.focusdbox{
    width: 300px;
}
.input_box .sousuo{
    width: 30px;
    height: 30px;
    background: url('../../images/suosou.png') no-repeat center;
    display: block;
    position: absolute;
    top: 13px;
    right: -10px;
    border-radius: 19px;
    transition: all 0.3s;
    
}
.focus_sousuo{
    background: url('../../images/suosou_focus.png') no-repeat center #333 !important;
}
.top_input{
    width: 240px;
    height: 38px;
    background: #eee;
    margin: 9px 0 0 20px;
    border: none;
    border-radius: 19px;
    padding:0 43px 0 15px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.focusd{
    outline: none;
    width: 300px;
}
.top_right{
    position: absolute;
    top: 0;
    right: 0;

}
.top_right div{
    float: left;
    margin-top: 9px;
    border-radius: 19px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.top_right .register{
    width: 80px;
    height: 38px;

    color: #ea6f5a;
    border: 1px solid #ea6f5a;
}
.top_right .write_wz{
    width: 100px;
    height: 38px;
    background: #ea6f5a;
    color: #fff;
    margin-left: 15px;
}